# Artefatos do live-build
/.build/
/cache/
/chroot/
/binary/
/local/
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/config/build
/build.log
*.iso
*.hybrid.iso
*.img
*.contents
*.files
*.packages
*.zsync
chroot.packages.*
*.qcow2
*.fd
/chroot.*
/binary.*
/.lock
# Symlinks criados pelo "lb config" (hooks padrão do live-build)
/config/hooks/live/
/config/hooks/normal/[1-9]*.hook.*
/config/package-lists/live.list.chroot
