[Desktop Entry]
Type=Application
Name=Executar AppImage
Name[en]=Run AppImage
Exec=winrise-run-appimage %f
Icon=application-x-executable
MimeType=application/vnd.appimage;application/x-iso9660-appimage;
NoDisplay=true
Terminal=false
